# setup by aws ressources
RDS_ENDPOINT=${RDS_ENDPOINT}
RDS_USERNAME=${RDS_USERNAME}
RDS_PASSWORD=${RDS_PASSWORD}
RDS_DB_NAME=${RDS_DB_NAME}
WP_URL=${WP_URL}

# setup a la mano
WP_TITLE=${WP_TITLE}
WP_ADMIN_USER=my-admin-user
WP_ADMIN_PASSWORD=my-admin-password
WP_ADMIN_EMAIL=my-email@mail.com
VOLUME_NAME=${VOLUME_NAME}
